/* Custom style for site */
#header .logo img {
    display: inline;
    height: 27px;
    padding-right: 7px;
}

.content-item > .e-content {
    text-align: justify;
}

/*
 * Fix mobile overlap
 */
.mobile-container .overlay {
    margin-top: 4rem;
}

.mobile-container .overlay .mobile-logo {
    display: none;
}

.mobile-menu .button_container.active .top,
.mobile-menu .button_container.active .bottom {
    background: #3085ee;
}

/*
 * Improve mobile tree view
 */
.overlay-menu .treemenu li {
    padding: 10px 0;
    background: rgba(102, 113, 137, 0.25);
    margin: 0 0 7px;
}

.overlay-menu .treemenu li .toggler {
    padding-left: 10px;
}

.overlay-menu .treemenu li ul {
    margin: 1rem;
}

.overlay-menu .treemenu li a {
    padding-left: 10px;
}

.overlay-menu .treemenu li.tree-empty > .toggler {
    display: none;
}
