/*!
 * Custom style for site 
 */

// Fix logo so it can sit beside the site name
#header .logo {
    img {
        display: inline;
        height: 27px;
        padding-right: 7px;
    }
}

// Justify text in articles
.content-item > .e-content {
    text-align: justify;
}

// Multiline code wrap
.hljs {
    overflow-wrap: break-word;
}

/*
 * Fix mobile overlap
 */
.mobile-container .overlay {
    margin-top: 4rem; //Below normal header

    // Hide mobile panel since we don't need to show it twice
    .mobile-logo {
        display: none;
    }
}

// Make the close button same color as hamburger since it's now on a white background
.mobile-menu .button_container.active {
    .top,
    .bottom {
        background: #3085ee;
    }
}

/*
 * Improve mobile tree view
 */
.overlay-menu {
    .treemenu {
        li {
            padding: 10px 0; // Make row bigger
            background: rgba(102, 113, 137, 0.25); // Make row darker
            margin: 0 0 7px; // Add more space between rows

            .toggler {
                padding-left: 10px;
            }

            ul {
                margin: 1rem;
            }

            a {
                padding-left: 10px;
            }

            &.tree-empty > .toggler {
                display: none; // Hide dot for non tree menu items
            }
        }
    }
}

/*
 * Overwrite theme breadcrumbs
 */
#breadcrumbs {
    // Fix weird top margin
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;

    // Padding-left is removed on first a and span, making each item not centered. We don't want that on span, only first a. Fix it by forcing saming padding-left as padding right for first span
    span:first-child {
        padding: 0 0.5rem !important;
    }

    // Prevent long article title from wrapping
    span {
        overflow-y: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    // Theme replace FA divider for some reson. Revert that
    i {
        display: block;
    }
    a:not(:first-child)::before,
    span:not(:first-child)::before {
        content: "";
        padding-right: 0;
    }
}

/** 
 * Fix for too much content in menu dropdown
 */
.dropmenu ul ul {
    max-width: 400px; // Set max width
    width: max-content; // Apply width to content
    li a {
        white-space: normal; // Allows to-wrap
    }
}

/**
 * Custom style for linkl label in the menu
 */
.header-link-label {
    text-align: center;
    border-top: 1px solid lightgray;
}
