/* Custom style for site */

// Fix logo so it can sit beside the site name
#header .logo {
    img {
        display: inline;
        height: 27px;
        padding-right: 7px;
    }
}

// Justify text in articles
.content-item > .e-content {
    text-align: justify;
}

// Multiline code wrap
.hljs {
    overflow-wrap: break-word;
}

/*
 * Fix mobile overlap
 */
.mobile-container .overlay {
    margin-top: 4rem; //Below normal header

    // Hide mobile panel since we don't need to show it twice
    .mobile-logo {
        display: none;
    }
}

// Make the close button same color as hamburger since it's now on a white background
.mobile-menu .button_container.active {
    .top,
    .bottom {
        background: #3085ee;
    }
}

/*
 * Improve mobile tree view
 */
.overlay-menu {
    .treemenu {

        li {
            padding: 10px 0; // Make row bigger
            background: rgba(102,113,137,.25); // Make row darker
            margin: 0 0 7px; // Add more space between rows

            .toggler {
                padding-left: 10px;
            }

            ul {
                margin: 1rem;
            }

            a {
                padding-left: 10px;
            }

            &.tree-empty > .toggler {
                display: none; // Hide dot for non tree menu items
            }
        }
    }
}

/*
 * Overwrite theme breadcrumbs
 */
#breadcrumbs {
    // Fix weird top margin
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;

    // Padding-left is removed on first a and span, making each item not centered. We don't want that on span, only first a. Fix it by forcing saming padding-left as padding right for first span
    span:first-child {
        padding: 0 .5rem !important;
    }

    // Prevent long article title from wrapping
    span {
        overflow-y: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    // Theme replace FA divider for some reson. Revert that
    i {
        display: block;
    }
    a:not(:first-child)::before,
    span:not(:first-child)::before {
        content: '';
        padding-right: 0;
    }
}

/**
 * Quark Dark Mode Theme
 * 
 * By Louis Charette
 * Inspired by https://github.com/getgrav/grav-theme-quark/issues/73#issuecomment-514934287
 */
body.dark-mode {

    // Variables
    $background-color: rgb(23, 27, 33);
    $text-color: rgb(232, 233, 235);
    $text-accent-color: white;
    $card-bg-color: black;
    $border-color: rgb(63, 71, 85);
    $link-color: rgb(114, 182, 236);

    // Main body background
    background-color: $background-color;

    // Page wrapper
    #body-wrapper,
    #page-wrapper {
        background-color: $background-color;
        color: $text-color;
    }

    // Darker blue for links
    a {
        color: $link-color;
    }

    // Card, header and dropdown have darker background
    .card,
    #header,
    #header a,
    #footer {
        background-color: $card-bg-color !important;
    }

    // Headers have whiter color
    h1, h2, h3, h4, h5, h6,
    #header a {
        color: $text-accent-color;
    }

    // Labels are grey
    .label.label-primary {
        color: $text-accent-color;
        background-color: #323232;
    }
    .label.label-secondary {
        color: white;
        background-color: #999999;
    }

    // Code blocks have accent dark background
    .hljs,
    code {
        color: $text-color;
        border: 1px solid $border-color;
        background: rgb(17, 20, 24) !important;
    }

    // Buttons style
    .btn, .button {
        background: $background-color;

        // Focus/Hover accent are darker
        &:focus,
        &:hover {
            background: $card-bg-color;
        }
    }

    // Pagination border is slighly different than the text
    .pagination li {
        border-color: #3085ee;
    }

    // Sidebar menu use darker text color for focus
    .menu {
        background: $background-color;
        color: rgb(165, 169, 175)
    }

    .menu .menu-item>a:focus, .menu .menu-item>a:hover {
        background: $card-bg-color;
    }

    #sidebar ul.related-pages li {
        border-bottom-color: $border-color;
    }

    // Form background
    .form-input, .search-input, [data-grav-field=array] input, [data-grav-field=array] textarea {
        background: $background-color;
    }    
}
